

#container{

    height: 2000px;
}
.generalSize{

    position: relative;
    height: auto;
    width: auto;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 130px;
    display: flex;

}



.nameItems{

    width: 288px;
}

#inputAddress{

    width: 100px;
}

#textArea{

    height: 300px;
    width: 708px ;
}

.btn-group {
    display: flex;
  }


 

  #inputState{

    height: 30px;
    width: 80px;
  }
