
.size{

    width: auto;
    height: 720px;
    position: relative;
    top: 56px;
    background-image: './images/elliot.jpg';

}

img{
    position: relative;
    width: 1440px;
    height: 720px;

}

#elliot{

    width: 300px;
    height: 300px;
    position: relative;
    left: 50%;
    right: 50%;
    top: -550px;
    transform: translate(-50%,-50%);
   
}

#text{

    width: 800px;
    height: 300px;
    padding: 20px;
    position: relative;
    left: 50%;
    right: 50%;
    text-align: center;
    top: -520px;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(6px) saturate(70%);
    border-radius: 60px;


}



#textDetails{

    color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: inline-block;
    width: 600px;
    text-align: center;

}