
.container{

    font-size: 30px;
    height: 50px;
    width: auto;
}

.iconItems{

    margin: 10px;
    font-size: 45px;
    font-weight: 200;
    position: relative;
    left: -30px;
}

#dscrtp{

    font-size: 20px;
}


footer{

    background-color: white;
    margin-bottom: -50px;
} 

/*footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
 } */